.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #f4a261;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  margin-right: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: primary;
  border-color: #f4a261;
  color: grey;
}

.actions .button--alt {
  color: #f4a261;
}

.actions .button {
  background-color: #f4a261;
  color: gray;
}
