.card {
  margin: auto;
  margin-top: 70px;
  text-align: center;
  align-content: center;
}


/* 
  .card p {
    margin-top: 25px;
  }
  
  .card Button {
    margin-top: 15px;
  } */

/* .tab {
    border-color: gray;
  } */
