.form {
  margin:  0;
  height: 17rem;
  overflow: auto;
  width: 90%;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 75%;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.actions button {
  font: inherit;
  /* color: #f4a261; */
  cursor: pointer;
  background-color: transparent;
  border: none;
  /* border-radius: 25px; */
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  /* background-color: #ffe6dc; */
}

.actions .submit {
  border: 1px solid ;
  /* background-color: #f79f58; */
  color: grey;
}

.actions .submit:hover,
.actions .submit:active {
  /* background-color: #f79f58; */
}

.invalid label {
  color: #e76f51;
}

.invalid input {
  border-color: #f06a49;
  background-color: #ffeff1;
}
